.footer {
  background-color: $background-color-secondary;
  padding: 6px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__signature {
  width: 44%;
  font-size: 12px;
}