.footer {
  background-color: $background-color-secondary;
  padding: 6px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include tablet {
    padding: 6px 80px;
  }

  @include desktop {
    padding: 6px 180px;
  }
}

.footer__signature {
  width: 152px;
  font-size: 12px;
  position: relative;
}

.footer__signature::after {
  content:"";
  position: absolute;
  width: 12px;
  height: 12px;
  background-image: url("../img/mob/heart.png");
  background-repeat: no-repeat;
  top: 58%;
  right: 27%;
}