.form {
  position: relative;
  text-transform: uppercase;
  padding: 20px 60px;
}

.form::before {
  content:"";
  position: absolute;
  width: 280px;
  height: 30px;
  background-image: url("../img/mob/Line2.svg");
  background-repeat: no-repeat;
  top: -8%;
  left: 0;
}

.form::after {
  content:"";
  position: absolute;
  width: 280px;
  height: 30px;
  background-image: url("../img/mob/Line3.svg");
  background-repeat: no-repeat;
  bottom: -26%;
  right: 4%;
}

.form__btn {
  background-color: #FFA8A8;
  display: block;
  width: 202px;
  height: 42px;
  border-radius: 38%;
  color: $text-color-lighten;
  padding: 10px 48px;
  font-size: 20px;
  margin-left: auto;
}