.format {
  position: relative;
  padding: 76px 0 20px;
  @include tablet {
    padding: 76px 88px 20px;
  }
}

.format::before {
  content:"Какой формат?";
  position: absolute;
  color: $text-color-lighten;
  padding: 10px 16px;
  font-size: 19px;
  font-weight: 400;
  width: 197px;
  height: 44px;
  background-image: url("../img/mob/title-brown.svg");
  background-repeat: no-repeat;
  top: 15%;
  left: 65%;
  transform: translate(-50%, -13%);

  @include desktop {
    background-image: url("../img/title-br2-desk.svg");
    width: 380px;
    height: 85px;
    padding: 18px 30px;
    font-size: 34px;
    text-align: center;
  }
}

.format-block {
  display: flex;
  gap: 0 6%;

  @include tablet {
    justify-content: center;
    align-items: center;
    gap: 0 10%;
  }

  @include desktop {
    margin-top: 30px;
  }
}

.format__content {
  width: 50%;
  font-size: 13px;

  @include tablet {
    font-size: 14px;
  }

  @include desktop {
    font-size: 18px;
  }
}

.format__img {
  @include desktop {
    width: 250px;
    height: auto;
  }
}
