.form {
  position: relative;
  text-transform: uppercase;
  padding: 20px 60px;

  @include tablet {
    padding: 5% 30%;
  }

  @include desktop {
    padding: 5% 33%;
  }
}

.form::before {
  content:"";
  position: absolute;
  width: 280px;
  height: 30px;
  background-image: url("../img/mob/Line2.svg");
  background-repeat: no-repeat;
  top: -8%;
  left: 0;

  @include tablet {
    left: 18%;
    top: 0;
  }

  @include desktop {
    left: 22%;
  }
}

.form::after {
  content:"";
  position: absolute;
  width: 280px;
  height: 30px;
  background-image: url("../img/mob/Line3.svg");
  background-repeat: no-repeat;
  bottom: -26%;
  right: 4%;

  @include tablet {
    right: 18%;
    bottom: -14%;
  }

  @include desktop {
    right: 22%;
  }
}

.form__btn {
  position: relative;
  background-color: #FFA8A8;
  display: block;
  width: 202px;
  height: 42px;
  color: $text-color-lighten;
  padding: 8px 48px;
  font-size: 20px;
  margin-left: auto;
  text-decoration: none;
  border: 1px solid #ffa8a8;
  border-radius: 15px;
  box-shadow: 7px 7px 22px -6px rgba(82,84,83,1);
  -webkit-box-shadow: 7px 7px 22px -6px rgba(82,84,83,1);
  -moz-box-shadow: 7px 7px 22px -6px rgba(82,84,83,1);

  @include desktop {
    width: 262px;
    height: 62px;
    font-size: 30px;
    padding: 10px 48px;
  }
}

.form__btn::before {
  content:"";
  position: absolute;
  width: 105px;
  height: 50px;
  background-image: url("../img/mob/tyk.png");
  background-repeat: no-repeat;
  top: -55px;
  right: -24px;
}

.form__btn:hover {
  width: 190px;
  height: 38px;
  background-color: #e79090;
  font-size: 16px;
  padding: 8px 50px;
}