.gift {
  padding: 0 20px 30px;

  @include tablet {
    padding: 0 80px 30px;
  }
}

.gift__title {
  font-weight: 400;
  background-image: url("../img/mob/border-pink.svg");
  background-repeat: no-repeat;
  width: 228px;
  height: 68px;
  padding: 20px 55px;
  margin-top: 0;
  margin-left: 15%;

  @include tablet {
    margin: 0 auto;
    padding: 18px 50px;
  }
}