.header {
  background-image: url("../img/mob/banner-mob.png");
  background-color: #ffffff;
  height: auto;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 16% 6% 0;
  box-sizing: border-box;
  position: relative;
  min-height: 400px;

  @include resolution {
    background-image: url("../img/mob/banner-mob@2x.png");
    background-size: 432px auto;
    min-height: 198px;
  }

  @include tablet {
    padding: 22% 6% 0;
    min-height: 324px;
    position: relative;

    @include resolution {
    background-image: url("../img/mob/banner-mob@2x.png");
    background-size: auto;
    min-height: 398px;
    }
  }

  @include desktop {
    padding: 10% 6% 0;
    min-height: 400px;
  }
}

.header__btn {
  width: 40px;
  height: 50px;
  padding: 10px 0;
  background-color: transparent;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: 10%;
  color: $text-color-lighten;
  font-family: inherit;
  font-size: 11px;
}

.header__title {
  color: $text-color-lighten;
  font-weight: inherit;
  margin-top: 40px;
  margin-left: 8%;
  font-size: 26px;
  line-height: 30px;

  @include tablet {
    font-size: 33px;
    position: absolute;
    top: 50%;
    left: 18%;
    transform: translate(-50%, -32%);
  }

  @include desktop {
    margin-left: 22%;
    
    top: 50%;
    left: 18%;
    transform: translate(-50%, -32%);
  }
}

.header::after {
  content:"";
  position: absolute;
  width: 395px;
  height: 20px;
  background-image: url("../img/mob/Line1.svg");
  background-repeat: no-repeat;
  bottom: -1%;
  left: 50%;
  transform: translate(-50%, -13%);

  @include desktop {
    background-image: url("../img/Line1-desc.svg");
    width: 1095px;
    height: 52px;
    bottom: -5%;
    left: 54%;
  }
}