.header {
  background-image: url("../img/mob/banner-mob.png");
  background-color: #ffffff;
  height: auto;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 28% 11% 0;
  box-sizing: border-box;
  position: relative;

  @include resolution {
    background-image: url("../img/mob/banner-mob@2x.png");
    background-size: 432px auto;
    min-height: 198px;
  }

  @include tablet {
    @include resolution {
    background-image: url("../img/mob/banner-mob@2x.png");
    background-size: auto;
    min-height: 398px;
    }
  }
}

.header__btn {
  width: 40px;
  height: 50px;
  padding: 10px 0;
  background-color: transparent;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: 10%;
  color: $text-color-lighten;
  font-family: inherit;
  font-size: 11px;
}

.header__title {
  color: $text-color-lighten;
  font-weight: inherit;
  margin-top: 0;
  margin-left: 8%;
  font-size: 28px;
  line-height: 30px;
}

.header::after {
  content:"";
  position: absolute;
  width: 395px;
  height: 20px;
  background-image: url("../img/mob/Line1.svg");
  background-repeat: no-repeat;
  bottom: -1%;
  left: 50%;
  transform: translate(-50%, -13%);
}