.imgs {
  position: relative;
}

.imgs::before {
  content:"";
  position: absolute;
  width: 1px;
  height: 300px;
  background-color: $text-color-primary;
  top: 21%;
  left: 38%;
  transform: translate(-50%, -13%);
}


.imgs__block {
  display: flex;
  padding: 10px 20px 10px 46px;
  gap: 0 18%;
}

.imgs__item--no {
  width: 68px;
  height: auto;
}

.imgs__item--y {
  width: 200px;
  height: auto;
}