.wear {
  position: relative;
  padding: 50px 0 20px;

  @include tablet {
    padding: 50px 80px 20px;
  }

  @include desktop {
    margin-top: 60px;
  }
}

.wear::before {
  content:"Мне нечего надеть";
  position: absolute;
  color: $text-color-primary;
  padding: 11px 12px;
  font-size: 16px;
  font-weight: 400;
  width: 195px;
  height: 42px;
  background-image: url("../img/mob/title-pink.svg");
  background-repeat: no-repeat;
  top: 2%;
  left: 30%;
  transform: translate(-50%, -13%);

  @include desktop {
    background-image: url("../img/title-roze2-desk.svg");
    width: 500px;
    height: 77px;
    padding: 16px 46px;
    font-size: 38px;
    top: -4%;
    left: 35%;
  }
}

.wear__content {
  padding: 0 20px;
}