.when {
  position: relative;
  padding: 50px 0 20px;
  margin-bottom:28px ;
}

.when::after {
  content:"Когда?";
  position: absolute;
  color: $text-color-lighten;
  padding: 6px 52px;
  font-size: 24px;
  font-weight: 400;
  width: 195px;
  height: 42px;
  background-image: url("../img/mob/title-brown.svg");
  background-repeat: no-repeat;
  top: -1%;
  left: 50%;
  transform: translate(-50%, -13%);

  @include desktop {
    background-image: url("../img/title-brown-desk.svg");
    width: 270px;
    height: 84px;
    padding: 18px 60px;
  font-size: 38px;
  }
}

.when__text {
  text-align: center;
  position: relative;

  @include tablet {
    font-size: 14.5px;
  }

  @include desktop {
    margin-top: 60px;
    padding-top: 22px;
    font-size: 22px;
  }
}


.when__text:after {
  content:"";
  position: absolute;
  width: 228px;
  height: 92px;
  background-image: url("../img/mob/border-pink.svg");
  background-repeat: no-repeat;
  top: -1%;
  left: 50%;
  transform: translate(-50%, -13%);

  @include desktop {
    width: 485px;
    height: 144px;
    background-image: url("../img/border-pink-desk.svg");
    top: -1%;
    left: 50%;
  }
}